.card{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 20px;
    cursor: pointer;
    transition: 1s 0s ease;
}
.card:hover{
    transform:scale(1.1);
    transform: translate(0px -20px);
}
.card>img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.card>img:hover{
    transition:  0s ease;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
h2{
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 600;
     font-size: 16px;
}
button{
    color: white;
    background-color: royalblue;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}