*{
    margin: 0;
    box-sizing: border-box;
    padding:0;
}

nav{
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>h2{
    padding: 30px;
    color: white;
}
aside>a{
padding:20px;
text-decoration: none;
color: white;
}